body {
    background-image: url("../images/background1.jpg");
}

#filterDiv {
    background-color: #f7f7f9; /*bootstrap colors*/
    border-radius: 7px;
    padding: 15px;
}

.eventContent {
    width: 98.5%;
    height: 200px;
    background-color: #f7f7f9;
    margin: 0 auto;
    border-radius: 7px;
    margin-bottom: 20px;
}

.aEventContent {
    height: inherit;
    width: inherit;
    position: relative;
    /*border: 1px black solid;*/
}

.leftContent {
    /*border: 1px black solid;*/
    /*border-radius: 7px 0px 0px 7px;*/
    height: inherit;
    width: 200px;
    position: absolute;
}

.eventThumbnails {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 7px 0px 0px 7px;
    background-image: url("../images/hackathonfiler.png");
}

.rightContent {
    /*border: 1px black solid;*/
    height: inherit;
    width: calc(100% - 200px);
    position: absolute;
    left: 200px;
}
