body {
    background-image: url("http://static1.squarespace.com/static/574871f2e321404d84512955/t/5750e65662cd947608162636/1464919642872/patternbackground-17-17.jpg?format=1500w");
}

#filterDiv {
    background-color: #f7f7f9; /*bootstrap colors*/
    border-radius: 7px;
    padding: 15px;
}

.eventContent {
    width: calc(100% - 30px);
    height: 200px;
    background-color: #f7f7f9;
    margin: 0px auto;
    border-radius: 7px;
    /*margin-bottom: 20px;*/
}

.aEventContent {
    height: inherit;
    width: inherit;
    position: relative;
}

.leftContent {
    height: inherit;
    width: 200px;
    position: absolute;
}

.eventThumbnails {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 7px 0px 0px 7px;
    background-image: url("../images/hackathonfiler.png");
}

.rightContent {
    height: inherit;
    width: calc(100% - 200px);
    position: absolute;
    left: 200px;
}
