body {
    background-image: url("http://static1.squarespace.com/static/574871f2e321404d84512955/t/5750e65662cd947608162636/1464919642872/patternbackground-17-17.jpg?format=1500w");
}

.eventContent {
    width: calc(100% - 30px);
    height: 200px;
    background-color: #f7f7f9;
    margin: 0px auto;
    border-radius: 7px;
    position: relative;
    margin-bottom: 25px;
}

.eventThumbnail {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border-radius: 7px 0px 0px 7px;
    background-image: url("../images/hackathonfiler.png");
}

#eventInfoTable {
    width: 100%;
    height: inherit;
    table-layout: fixed;
    border-collapse: collapse;,
}

tr, td {
    width: 100%;
}

.eventGoogleMaps {

}

.leftContent {
    width: 200px;
    height: inherit;
    position: absolute;
    border-radius: 7px 0px 0px 7px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.middleContent {
    width: calc(100% - 400px);
    height: inherit;
    position: absolute;
    left: 200px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.rightContent {
    width: 200px;
    height: inherit;
    position: absolute;
    right: 0px;
    border-radius: 0px 7px 7px 0px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.eventURL {
    text-decoration: none;
    color: black;
}

/* POPOVER CODE author: Shawn Wernig*/
#hover {
    display: block;
    position: relative;
}

#hover:hover {
    background: #dddddd;   
}

#hover a {
    text-decoration: none;
    color: black;
}

#popup {
    opacity: 0;
    position: absolute;
    top: 32px;
    background: #eeeeee;
    border: 1px solid black;
    border-radius: 6px;
    height: 0px;
    max-height: 150px;
    padding: 0 12px;
    overflow-y: auto;
    -webkit-transition: all 500ms;
    transition: all 500ms;
    z-index: 1;
    word-wrap: break-word;
}

#hover:hover #popup {
    padding: 12px 12px;
    height: auto;
    opacity: 1;
    border: 1px solid #eeeeee;
}