
<div class="jumbotron text-center">
	<h1>Next Event</h1>
</div>
<div class="container">
     <form ng-submit="event.getEvents(event.city)">
		<div class="input-group input-group-lg">
			<input type="text" class="form-control" placeholder="Enter city" ng-model="event.city">
			<span  class="input-group-btn">
			<button class="btn btn-info" type="submit">Go</button>
			</span>
		</div>
	<br>
	</form>
</div>
<!-- <div ng-repeat="x in event.events.events.event.image">
	<img ng-src="{{x.url}}" alt="no image available!">
</div> -->
<div ng-repeat="x in event.events.events.event">
	<div class="container">
		
		<div class="form-control">
			<div class="col-lg-8">
				<p>{{x.title}}</p>
			</div>
		</div>
		<div class="col-lg-5 col-lg-offset-4">
			<p>{{x.description}}</p>
		</div>
		<div class="col-lg-5 col-lg-offset-4">
			<button class="btn btn-primary btn-block" ng-click="addReview(review)">Comment</button>
		</div>

	</div>
</div>
<pre>{{event.events | json}}</pre>